.form-section {
  display: grid;
  grid-template-columns: 1fr 40%;
  background-color: var(--light-color);
  border-radius: 30px;
  border-color: #d5c9be;
  margin-top: 100px;
  overflow: hidden;
}

@media (max-width: 720px) {
  .form-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40%;
  }
}

.form-section__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 36px 74px;
}

@media (max-width: 720px) {
  .form-section__wrapper {
    padding: 24px 40px;
  }
}

.form-section__header {
  color: #38535d;
  font-family: var(--accent-font);
  font-size: var(--h2);
  margin-bottom: 26px;
}

.contact-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 26px;
}

.form-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 13px;
}

.form-group__input input {
  box-sizing: border-box;
  border-radius: 4px;
  border-style: solid;
  border-color: #d6d6d6;
  border-width: 1px;
  height: 42px;
  width: 100%;
  padding: 16px;
}

.form-group__input input::placeholder {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #55565a;
  opacity: 0.7;
}

.form-group.checkbox label {
  color: #55565a;
}

.submit-button {
  display: inline-block;
  padding: 24px 56px;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--ff-bold);
  background: #222222;
  margin-top: 26px;
  color: var(--light-color);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: solid 1px #222222;
}

@media (hover: hover) {
  .submit-button:hover {
    background: var(--main-bg-color);
    color: var(--light-color);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

.submit-button:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-section__image {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-section__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media (hover: hover) {
  .form-section__image:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}