:root {
  --content-width: 1597px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --main-bg-color: #282829;
  /* --accent-color: #222222; */
  --light-color: #ffffff;
  --secondary-color: #38535d;
  --grey-color: #d6d6d6;

  --font-size: 24px;
  --ff: 'Roboto', sans-serif;
  --header-font: "Prata-Regular", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scrollbar-color: var(--primary-color) #fff;
  scrollbar-gutter: stable;
  scrollbar-width: thin;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  overflow-x: hidden;
  height: 100%;
  min-width: 320px;
  font-family: var(--ff), sans-serif;
  font-size: var(--font-size, 24px);
  color: var(--light-color);
  background: var(--main-bg-color);
}

main {
  flex: 1 1 auto;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}